# MongoDB Connection String
# Get this from MongoDB Atlas: https://www.mongodb.com/atlas
# 1. Create a free cluster (M0)
# 2. Create a database user
# 3. Set Network Access to 0.0.0.0/0
# 4. Click Connect > Drivers > Copy connection string
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/star-venting?retryWrites=true&w=majority
